---
import Layout from "../layout.astro"

import anime from "../hex4-anime-alt.png"
import Project from "../project.astro"

---


<Layout title="hex4@net:about">
	
	<div class="w-screen h-8 px-2 py-1 flex">
		<span class="font-bold text-peach motion-preset-slide-up motion-delay-100 ">hex4</span>
		<span class="mx-3 text-surface2 motion-preset-slide-up motion-delay-200"> @ </span>
		<span class="motion-preset-slide-up font-bold text-yellow motion-delay-300">internet</span>
		<span class=" text-surface2 motion-preset-slide-up motion-delay-300"> : </span>
		<span class="text-text motion-preset-slide-up motion-delay-[400ms] mx-3">~</span>
		<span class="grow"></span>
		<span></span>
		<span class="mx-3 text-surface2 hover:text-text hover:font-bold motion-preset-slide-right motion-delay-200 transition-all"><a href="/">~</a></span>
		<span class="mx-3 text-peach font-bold motion-preset-slide-right motion-delay-200 transition-all"><a href="about">about</a></span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all"><a href="projects">projects</a></span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all "><a href="blog">blog</a></span>
	</div>
	<div class="px-10 pt-5 ">
		<div class="w-screen my-3 flex flex-row motion-delay-100 motion-preset-blur-right ">
			<p class="font-bold text-peach text-2xl bg-clip-text">~/about</p>
			<div class="h-2 ml-4 bg-gradient-to-r grow my-auto from-red via-yellow to-blue rounded-full"></div>
		</div>
	
		<div class="motion-preset-blur-right motion-delay-300">
			<p class="text-text whitespace-pre-line lg:w-3/4"> hey! i'm hex4. i make stuff with computers. a <i>lot</i> of stuff with computers. websites, pcbs, games, useless toys, etc, etc.

			programming has always felt so magical. you can put together a jumbled mess of symbols, words, and numbers, and get out something that us humans can understand, admire, play with. it's amazing! when it works, ofc.

			i make games - godot is currently my go-to engine for this. my favourite one so far is Big Slime, Lil' Slime - more info about it is on the homepage!

			i also love to design things - software working is one thing, but in my opinion it should also look good and be fun to use. <a class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-yellow">tactile design</a> is one way i achieve this.

			i'm good with python, astro, and godot, but i can pick up new things fairly quickly. currently, i'm procrastinating on learning rust and svelte.

			away from coding, I love to game (come find me on the hack club minecraft server!), read books, write about stuff (i'd love to write a book some day), pat my cats, make music, draw (kinda bad) pixel art, play retro video games, rock climb, snowboard, run and play D&D, and watch anime.

			i'm on the welcome team @ <a href="https://hack.club/slack" class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-red">hack club</a> and you can usually find me chatting in the slack.

			i've helped with design for the former <a href="https://github.com/thepurplebubble" class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-mauve">Purple Bubble</a> as well.

			find my projects <a href="projects" class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-blue">here</a>, play me and my friends' games on <a href="https://the-dimaverse.itch.io/" class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-red">itch.io</a>, check out occasional project updates on my <a href="https://scrapbook.hackclub.com">hack club scrapbook</a>, and listen to me yap about various things on my <a href="https://social.dino.icu/@hex4" class="underline underline-offset-4   transition-all hover:font-extrabold hover:underline-offset-8 decoration-wavy hover:text-blue">mastodon.</a>

			<br>
			
			i think that's about it! i'll see you around.

			oh yeah, contact me:

			nenex54 [GOAWAYBOTS at GOAWAYBOTS] pm [PLEASEGOAWAY dot PLEASEGOAWAY] me

				
			</p>

			
			


			
		</div>

		

	</div>




</Layout>

