---
import Layout from "../layout.astro"

import PostCard from "../post-card.astro"
import Post from "../post.astro";

const posts = Object.values(import.meta.glob('./post/*.md', { eager: true }));
---


<Layout title="hex4@net:projects">
	
	<div class="w-screen h-8 px-2 py-1 flex">
		<span class="font-bold text-peach motion-preset-slide-up motion-delay-100 ">hex4</span>
		<span class="mx-3 text-surface2 motion-preset-slide-up motion-delay-200"> @ </span>
		<span class="motion-preset-slide-up font-bold text-yellow motion-delay-300">internet</span>
		<span class=" text-surface2 motion-preset-slide-up motion-delay-300"> : </span>
		<span class="text-text motion-preset-slide-up motion-delay-[400ms] mx-3">~</span>
		<span class="grow"></span>
		<span></span>
		<span class="mx-3 text-surface2 hover:text-text hover:font-bold motion-preset-slide-right motion-delay-200 transition-all"><a href="/">~</a></span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all"><a href="about">about</a></span>
        
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all "><a href="projects">projects</a></span>
        <span class="mx-3 text-peach font-bold motion-preset-slide-right motion-delay-200 transition-all"><a href="blog">blog</a></span>
	</div>
	<div class="px-10 pt-5 ">
		<div class="w-screen my-3 flex flex-row motion-delay-100 motion-preset-blur-right ">
			<p class="font-bold text-peach text-4xl bg-clip-text">~/posts</p>
			<div class="h-2 ml-4 bg-gradient-to-r grow my-auto from-red via-yellow to-blue rounded-full"></div>
		</div>
	
		<div class="motion-preset-blur-right motion-delay-300">
			<p class="text-text whitespace-pre-line lg:w-3/4">turns out I like to write about stuff! This is a simple little blog using Astro's builtin Markdown support.</p>
            <div>
                {posts.reverse().map((post) => (
                    <PostCard title={post.frontmatter.title} link={post.url}>
                      {post.frontmatter.description}
                    </PostCard>
                  ))}
            </div>
            
		</div>

		

	</div>




</Layout>

