---
import Layout from "../layout.astro"
import {Image} from "astro:assets"
import anime from "../hex4-anime-alt.png"
---

<Layout title="hex4@net:~">
	
	<div class="w-screen h-8 px-2 py-1 flex">
		<span class="font-bold text-peach motion-preset-slide-up motion-delay-100">hex4</span>
		<span class="mx-3 text-surface2 motion-preset-slide-up motion-delay-200"> @ </span>
		<span class="motion-preset-slide-up font-bold text-yellow motion-delay-300">internet</span>
		<span class=" text-surface2 motion-preset-slide-up motion-delay-300"> : </span>
		<span class="text-text motion-preset-slide-up motion-delay-[400ms] mx-3">~</span>
		<span class="grow"></span>
		<span></span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all">~</span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all">about</span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all">blog</span>
		<span class="mx-3 text-surface2 motion-preset-slide-right motion-delay-200 hover:text-text hover:font-bold transition-all ">projects</span>
	</div>
	<div class="px-10 pt-5">
		<div class="w-screen my-3 flex flex-row motion-preset-blur-right motion-delay-200">
			<img src={anime.src} alt="hex4 word with icons around, looks very cool" class="w-64">
			<div class="h-2 ml-4 bg-gradient-to-r grow my-auto from-red via-yellow to-blue rounded-full"></div>
		</div>
	
	
		<p class="text-text whitespace-pre-line">
			oh, hey there.
			
		</p>
	</div>


</Layout>

