---
import { Image } from 'astro:assets';
import anime from '../assets/hex4-anime-alt.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style>
			.pulse {
				animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
			}
			
			

			@keyframes pulse {
			0%, 100% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
			}
			

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}

			@keyframes gradient {
				0% {
					background-position: 0% 50%;
				}
				50% {
					background-position: 100% 50%;
				}
				100% {
					background-position: 0% 50%;
				}
			}

			.hero {
				background-image: radial-gradient(rgb(49, 50, 68) 1px, transparent 0);
				background-size: 30px 30px;
			}

			.png-outline {
				filter: drop-shadow(1px 1px 0 white)
        		drop-shadow(-1px 1px 0 white)
        		drop-shadow(1px -1px 0 white)
        		drop-shadow(-1px -1px 0 white);
			}
			

			.hex {
				animation: spin 15s linear infinite;
			}


	</style>

	<body class="mocha bg-crust min-w-max min-h-screen">

		<div class="h-screen m-5 p-5 relative hero z-10">

			<p class="text-text italic whitespace-pre-line ml-5 mt-5">making things
				to bring back the
				creativity
				of this place
				this weird,
				wonderful place
				we call
				the internet
			</p>
			<p class="opacity-0 hover:opacity-100 transition-all text-overlay1 text-xs ml-5 mt-5">(i am much better at writing code than poetry)</p>


			<div class="absolute bottom-10 left-10">
				<p class="text-text italic text-xl translate-x-2">
					hey,
				</p>
				<h1 class="text-text text-9xl whitespace-pre-line pt-0 font-bold">I'M
					HEX⁴<span class="pulse">_</span>
				</h1>
			</div>

			<div data-tilt  class="absolute right-20 top-20 w-[600px] h-[400px] rounded-lg outline outline-1 outline-base bg-crust flex divide-x divide-base">
				<div class="p-5 flex-none">
					<img src={anime.src}  alt="uwu" class="w-[360px]">
					MAKER // CODER // GAME DEV // DESIGNER // WEB DEV // GAMER // SNOWBOARDER // HACK CLUBBER // PRIVACY ADVOCATE // STATIONERY ADDICT
				</div>
				<div class="p-5">
					<p class="text-text ">
						hey. the internet feels boring these days.
						i'm bringing back its creativity.
					</p>
					
				</div>
				
			</div>

			<div class="blur-md absolute bottom-16 right-20 text-[200px] hex bg-clip-text text-transparent bg-gradient-to-tr from-red from-30% via-yellow to-blue to-70% hover:bg-bottom">
				⬢
			</div>
			<!--<Image src={} alt='My avatar. Three hexagons in red, yellow, and blue.'  class="absolute top-5 right-5 size-[500px]"/>  -->

			<script>
				import VanillaTilt from 'vanilla-tilt';
			</script>
		</div>

	</body>
</html>
