---
import Layout from "../layout.astro"
---

<Layout title="hex4@net:~">
	
	<div class="w-screen h-8 bg-mantle px-2 py-1">
		<span class="font-bold text-peach mx-auto">hex4.net</span>
		<span class="mx-1 text-surface2">/</span>
		<span class="text-text">~</span>
	</div>
</Layout>

