---
import { Image } from 'astro:assets';
import avatar from '../assets/avatar.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style>
			.pulse {
				animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
			}
			
			

			@keyframes pulse {
			0%, 100% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
			}
			

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}

			.hero {
				background-image: radial-gradient(rgb(49, 50, 68) 1px, transparent 0);
				background-size: 30px 30px;
			}

			.png-outline {
				filter: drop-shadow(1px 1px 0 white)
        		drop-shadow(-1px 1px 0 white)
        		drop-shadow(1px -1px 0 white)
        		drop-shadow(-1px -1px 0 white);
			}
			

			.hex {
				animation: spin 20s linear infinite;
			}
	</style>
	<body class="mocha bg-crust w-screen min-h-screen">

		<div class="h-screen m-5 p-5 relative hero z-10">

			<p class="text-text italic whitespace-pre-line ml-5 mt-5">making things
				to bring back the
				creativity
				of this place
				this weird,
				wonderful place
				we call
				the internet
			</p>
			<p class="opacity-0 hover:opacity-100 transition-all text-overlay1 text-xs ml-5 mt-5">(i am much better at writing code than poetry)</p>


			<div class="absolute bottom-10 left-10">
				<p class="text-text italic text-xl translate-x-2">
					hey,
				</p>
				<h1 class="text-text text-9xl whitespace-pre-line pt-0 font-bold">I'M
					HEX⁴<span class="pulse">_</span>
				</h1>
			</div>


			<svg xmlns="http://www.w3.org/2000/svg" class="bg-gradient-to-tr from-red via-yellow to-sapphire bg-clip-content absolute -z-10 size-[700px] top-10 right-10 blur-2xl hex" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M10.425 1.414l-6.775 3.996a3.21 3.21 0 0 0 -1.65 2.807v7.285a3.226 3.226 0 0 0 1.678 2.826l6.695 4.237c1.034 .57 2.22 .57 3.2 .032l6.804 -4.302c.98 -.537 1.623 -1.618 1.623 -2.793v-7.284l-.005 -.204a3.223 3.223 0 0 0 -1.284 -2.39l-.107 -.075l-.007 -.007a1.074 1.074 0 0 0 -.181 -.133l-6.776 -3.995a3.33 3.33 0 0 0 -3.216 0z" stroke-width="0" fill="currentColor" />
			</svg>

			<!--<Image src={} alt='My avatar. Three hexagons in red, yellow, and blue.'  class="absolute top-5 right-5 size-[500px]"/>  -->


		</div>

	</body>
</html>
