---
const { title = "Project", link = "https://example.com"} = Astro.props;
---
<div class="w-full outline outline-1 outline-surface2 rounded-md p-6 my-6 bg-mantle motion-preset-expand shadow-md">
    <p class="text-2xl text-text mb-4">
        <b></b>
        <a href={link} class="underline underline-offset-4 transition-all hover:underline-offset-8 duration-200 mb-2 hover:text-">
            <b>{title}</b>
        </a>
    </p>
    <p class="text-text font-sans w-11/12">
        <slot />
    </p>
    
</div>