---
const { title = "Project", link = "https://example.com", source, color = "peach" } = Astro.props;
---
<div class="w-full outline outline-1 outline-surface2 rounded-md p-6 my-6 bg-mantle motion-preset-expand">
    <p class={"text-2xl text-text mb-4" + color}>
        <b></b>
        <a href={link} class={"underline underline-offset-4 transition-all hover:underline-offset-8 duration-200 mb-2 hover:text-" + color}>
            <b>{title}</b>
        </a>
        
        
    </p>
    <p class="text-text font-sans">
        <slot />
        <br>
        {source && <a class="transition-all underline underline-offset-4 hover:underline-offset-8 hover:text-text text-overlay0" href={"https://github.com/"+source}>Open source.</a>}
    </p>
    
</div>